@media screen and (max-width: 992px) {
  h1 {
    font-size: 1.5em; }

  .container {
    width: 100%; }

  #content_area {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 50px; }
    #content_area #content_views {
      overflow: scroll;
      height: 100%; }

  #device_list {
    width: 100%; }
    #device_list header {
      display: inline; }
    #device_list li {
      display: none; }
      #device_list li.selected {
        display: block; }

  #device_view {
    width: 100%;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease; }

  #device_quick_controls {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 49px;
    background-color: black; }
    #device_quick_controls #controls_container {
      padding: 0px;
      height: 100%;
      vertical-align: middle; }
    #device_quick_controls #current_progress, #device_quick_controls #song_length {
      display: none; }
    #device_quick_controls #song_detail {
      position: absolute;
      height: 100%;
      max-width: 100%;
      box-sizing: border-box;
      padding: 7px 100px 10px 50px; }
      #device_quick_controls #song_detail #current_artwork {
        position: fixed;
        bottom: 7px;
        left: 7px;
        width: 36px;
        height: 36px; }
      #device_quick_controls #song_detail div {
        overflow: hidden; }
    #device_quick_controls #song_controls {
      padding: 10px;
      float: right; }
      #device_quick_controls #song_controls #song_play_pause, #device_quick_controls #song_controls #song_skip {
        display: inline-block;
        height: 30px;
        width: 30px;
        margin-right: 10px;
        cursor: pointer; }
        #device_quick_controls #song_controls #song_play_pause:hover, #device_quick_controls #song_controls #song_skip:hover {
          color: #BBBBBB; }
        #device_quick_controls #song_controls #song_play_pause i, #device_quick_controls #song_controls #song_skip i {
          display: block;
          margin: auto;
          margin-top: 10px; }
    #device_quick_controls #song_progress_bar {
      position: absolute;
      bottom: 0px;
      min-height: 0px; }

  #footer {
    display: none; }

  .top_nav {
    position: absolute;
    top: 0px;
    padding: 10px 5px 10px 10px;
    color: white;
    cursor: pointer; }
    .top_nav#left_nav {
      left: 0px; }
    .top_nav#right_nav {
      right: 0px; }
      .top_nav#right_nav span {
        display: inline-block;
        max-width: 35px;
        font-size: 10px;
        font-size: 9px;
        line-height: 1;
        text-align: right; }
      .top_nav#right_nav i {
        display: inline-block;
        margin: auto; }

  @keyframes show_menu {
    from {
      left: -80%; }

    to {
      left: 0%; } }

  @-webkit-keyframes show_menu {
    /* Safari and Chrome */
    from {
      left: -80%; }

    to {
      left: 0%; } }

  #mobile_device_view {
    box-sizing: border-box;
    padding-top: 5px;
    text-align: center; }
    #mobile_device_view img {
      box-sizing: border-box;
      padding: 5px 20px 20px 20px;
      max-height: 100%; }
    #mobile_device_view p {
      margin: 3px; }
      #mobile_device_view p #title {
        font-weight: bold; }
      #mobile_device_view p #artist {
        font-style: italic; }

  #mobile_menu {
    opacity: 100%;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: -80%;
    width: 80%;
    height: 100%;
    background-color: white; }
    #mobile_menu.visible {
      animation: show_menu 1s;
      -webkit-animation: show_menu 1s;
      left: 0%; }
    #mobile_menu div {
      font-weight: bold;
      padding: 4px;
      border-bottom: 1px solid black; }
    #mobile_menu header {
      padding: 5px;
      border-bottom: 1px solid; }
    #mobile_menu #menu_closer {
      position: absolute;
      right: 0px;
      padding: 2px;
      cursor: pointer; }
    #mobile_menu menuitem {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      border-bottom: 1px solid black;
      cursor: pointer; }

  #page_content {
    height: 100%; }

  #page_header h1 {
    text-align: center;
    display: block;
    padding-top: 0px; }
  #page_header i {
    float: left;
    margin-top: 15px; }

  #station_list header {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    padding: 5px 10px;
    border-bottom: 1px solid #999999;
    font-weight: bold;
    font-size: 14px;
    background-color: #444444; }
  #station_list .icons {
    float: right; }
  #station_list li {
    padding: 10px 15px;
    border-bottom: 1px solid #999999; }
    #station_list li .icon-chevron-right {
      display: none; }
    #station_list li:hover {
      cursor: pointer;
      background: #444444;
      /* Old browsers */
      background: -moz-linear-gradient(left, #444444 0%, #555555 73%, #666666 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, #444444), color-stop(63%, #666666), color-stop(100%, #777777));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left, #444444 0%, #555555 73%, #666666 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left, #444444 0%, #555555 73%, #666666 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(left, #444444 0%, #555555 73%, #666666 100%);
      /* IE10+ */
      background: linear-gradient(to right, #444444 0%, #555555 73%, #666666 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#666666',GradientType=1 );
      /* IE6-9 */ }
      #station_list li:hover .icon-chevron-right {
        display: inline; }
      #station_list li:hover .icon-volume-up {
        display: none; }
  #station_list ul {
    margin-left: 0px;
    padding-top: 30px;
    list-style: none; } }
/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com
*/
* {
  margin: 0;
  padding: 0; }

/* must declare 0 margins on everything, also for main layout components use padding, not
vertical margins (top and bottom) to add spacing, else those margins get added to total height
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */
html, body {
  height: 100%; }

#wrap {
  min-height: 100%; }

#main {
  overflow: auto;
  padding-bottom: 20px; }

/* must be same height as the footer */
#footer {
  position: relative;
  margin-top: -20px;
  /* negative value of footer height */
  height: 20px;
  clear: both; }

/*Opera Fix*/
body:before {
  /* thanks to Maleika (Kohoutec)*/
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* thank you Erik J - negate effect of float*/ }

/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
    <style type="text/css">
        #wrap {display:table;height:100%}
    </style>
<![endif]-->

*/
#admin_controller #device_list .device_dropdown {
  float: right; }
#admin_controller #device_list i:hover {
  color: #777777; }
#admin_controller #device_list #title {
  display: block;
  text-align: center; }
#admin_controller #main_view {
  padding: 7px;
  box-sizing: border-box; }
  @media screen and (min-width: 992px) {
    #admin_controller #main_view {
      width: 80%;
      float: right; } }
#admin_controller menu {
  padding: 7px;
  box-sizing: border-box; }
  @media screen and (min-width: 992px) {
    #admin_controller menu {
      width: 20%;
      float: left;
      border-right: 1px solid #aaaaaa; }
      #admin_controller menu menuitem {
        margin-top: 10px;
        display: block; } }
  #admin_controller menu li, #admin_controller menu #home_menu {
    width: 100%; }
    #admin_controller menu li i, #admin_controller menu #home_menu i {
      margin-right: 5px;
      margin-left: 3px; }
    #admin_controller menu li .icon-collapse, #admin_controller menu #home_menu .icon-collapse {
      display: inline;
      float: right;
      padding: 2px; }
    #admin_controller menu li:hover, #admin_controller menu #home_menu:hover {
      cursor: pointer;
      border-bottom: 1px solid #777777;
      border-top: 1px solid #555555;
      background-color: #333333; }
    #admin_controller menu li.selected, #admin_controller menu #home_menu.selected {
      background-color: black; }
  #admin_controller menu ul {
    list-style-type: none; }
#admin_controller ul, #admin_controller ol {
  margin: 0px; }

#alert_box {
  position: absolute;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  text-align: center;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  padding: 15px;
  z-index: 5;
  box-sizing: border-box; }

body {
  height: 100%;
  background-image: url("images/space-dust-twitter-background.jpg");
  margin: 0px; }

.btn-inverse {
  box-shadow: 0 -1px 1px #666666, top external shadow inset 0 -1px -2px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.8); }
  .btn-inverse:hover {
    cursor: pointer; }

.container {
  height: 100%;
  margin: auto; }
  @media screen and (min-width: 992px) {
    .container {
      width: 960px; } }

@media screen and (min-width: 992px) {
  #content_area {
    height: 80%;
    min-height: 600px; } }
#content_area .content_view {
  clear: both;
  height: 100%;
  color: #999999; }
#content_area #content_views {
  box-shadow: 3px 8px 10px;
  border-top: none;
  background-color: #444444; }
  @media screen and (min-width: 992px) {
    #content_area #content_views {
      overflow: hidden;
      min-height: 600px;
      border: 2px solid #666666;
      border-bottom: 1px solid #666666; } }

#device_quick_controls {
  border-bottom: 1px solid #aaaaaa;
  box-shadow: 3px 10px 10px;
  font-weight: bold; }
  @media screen and (min-width: 992px) {
    #device_quick_controls {
      border-left: 2px solid #666666;
      border-right: 2px solid #666666;
      text-align: center;
      background-color: #444444; } }
  #device_quick_controls #song_detail {
    font-size: 10pt;
    overflow: hidden;
    white-space: nowrap; }
  #device_quick_controls #device_info {
    font-weight: bold; }
  #device_quick_controls #controls_container {
    margin: auto;
    font-weight: normal;
    color: #999999; }
    @media screen and (min-width: 992px) {
      #device_quick_controls #controls_container {
        padding: 10px 18px 5px 18px;
        margin-bottom: 5px; }
        #device_quick_controls #controls_container .btn-inverse {
          padding: 15px;
          margin: 0px 10px;
          border-radius: 17px;
          line-height: 16px; }
        #device_quick_controls #controls_container #volume_control {
          position: absolute;
          display: inline-block;
          width: 100px;
          height: 20px;
          margin: 15px;
          text-align: left; } }
    #device_quick_controls #controls_container #volume_control {
      display: none; }
  @media screen and (min-width: 992px) {
    #device_quick_controls #song_progress_bar {
      min-height: 20px; } }
  #device_quick_controls #song_progress_bar #progress_bar {
    background-color: #dddddd;
    height: 1px;
    border: 1px solid #aaaaaa; }
  #device_quick_controls #song_progress_bar span {
    font-size: small;
    padding-top: 5px; }
    #device_quick_controls #song_progress_bar span#current_progress {
      float: left; }
    #device_quick_controls #song_progress_bar span#song_length {
      float: right; }

.disabled {
  opacity: 0.4; }

#footer {
  background-color: #222222;
  color: white;
  font-size: small; }

/*
#queue_controller{

    .song_info{
        text-align: left;
        padding: 10px 5px;
        border-bottom: 1px solid $songInfoSeparator;

        .icon-remove{
            float: right;

            &:hover{
                color: grey;
                cursor: pointer;
            }
        }

        .song_img{
            width:30px;
            height:30px;
            float:left;
            margin: 5px;
        }

        .song_title{
            margin-top:5px;
        }

        .song_details{
            margin-top:0px;
            font-size: 10px;
        }
    }
}
*/
.hidden {
  display: none; }

html {
  height: 100%; }

#login_error {
  color: red;
  font-style: oblique;
  margin-bottom: 5px; }

menu {
  margin: 0px;
  padding-left: 0px; }

#page_content {
  padding-top: 40px;
  box-sizing: border-box; }
  @media screen and (min-width: 992px) {
    #page_content {
      margin-bottom: 80px;
      opacity: .95; } }

#page_header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 40px;
  background-color: #222222;
  color: white;
  vertical-align: middle; }
  #page_header h1 {
    margin-top: 0px; }
    @media screen and (min-width: 992px) {
      #page_header h1 {
        font-size: 2em;
        display: inline;
        padding-top: 5px; } }
    #page_header h1 a {
      color: white;
      text-decoration: none; }
      #page_header h1 a:hover {
        color: grey; }
  #page_header menu {
    display: inline;
    float: right;
    padding-top: 10px; }
  #page_header menuitem {
    padding: 0px 30px;
    cursor: pointer; }
    #page_header menuitem:hover {
      color: grey; }

#queue_controller {
  height: 80%;
  max-width: 600px;
  margin: auto;
  padding-top: 20px;
  color: black; }
  #queue_controller #queue_list {
    min-height: 200px;
    min-height: 80%;
    border-radius: 0px 0px 15px 15px;
    border: 1px solid black;
    background-color: #eeeeee;
    box-shadow: inset 1px 1px 2px 2px #888888;
    vertical-align: middle;
    text-align: center; }
    #queue_controller #queue_list #no_song_alert {
      font-style: italic;
      font-size: 80%;
      text-align: center;
      vertical-align: mid7dle;
      height: 100%; }
  #queue_controller #song_search_field {
    width: 100%;
    margin: 0px;
    padding: 0px 7px;
    border: 0px;
    border-bottom: 1px solid black;
    height: 30px;
    box-sizing: border-box;
    background-color: #eeeeee; }

.song_info {
  border-bottom: 1px solid #666666; }
  .song_info:hover {
    cursor: pointer;
    background-color: #333333; }

#song_queue #add_song {
  position: relative; }
  #song_queue #add_song .btn {
    padding: 0px 6px;
    border-radius: 10px;
    margin-left: 20px;
    font-weight: bolder; }
  #song_queue #add_song:hover {
    color: #777777;
    cursor: pointer; }
#song_queue .song_search {
  position: absolute;
  width: 250px;
  padding: 4px;
  border-radius: 5px;
  overflow: hidden;
  font-size: 8pt;
  background-color: #fff;
  cursor: default;
  z-index: 100; }
  #song_queue .song_search .dropdown-menu {
    position: initial;
    min-width: 100%;
    border-radius: 0px;
    box-shadow: none;
    background-color: default;
    border: none;
    cursor: pointer; }
  #song_queue .song_search input {
    padding: 2px 4px; }
  #song_queue .song_search li {
    padding-right: 10px; }
#song_queue header {
  margin: 10px 0px; }
  #song_queue header h4 {
    display: inline; }
