@import "mobile.scss";
@import "footer.scss";

$alertBoxBG: white;

$bodyBG: grey;
$bodyBGUri: "images/space-dust-twitter-background.jpg";

$controlButtonBG: #DDDDDD;

$deviceControlBGHover: #333333;
$deviceControlBG: #444444;
$deviceControlBorder: #666666;
$deviceControlFont: #999999;
$deviceControlHoverFont: #777777;

$pageFooterHeaderBG: #222222;
$pageFooterHeaderFont: white;
$pageFooterHeaderHoverFont: grey;

$songInfoSeparator: #999999;

$queueListBG: #EEEEEE;
$queueListShadow: #888888;

$progressBarBG: #DDDDDD;
$progressBarBorder: #AAAAAA;

$songControlBG: #CCCCCC;
$songControlFont: black;

$tabSelectorBorder: $deviceControlBorder;
$tabSelectorUnselected: #777777;

#admin_controller{
    #device_list{
        .device_dropdown{
            float:right;
        }

        i:hover{
            color:$deviceControlHoverFont;
        }

        #title{
            display: block;
            text-align: center;
        }
    }

    #main_view{
        @media screen and (min-width:992px){
            width: 80%;
            float: right;
        }

        padding: 7px;
        box-sizing: border-box;
    }

    menu{
        @media screen and (min-width:992px){
            width: 20%;
            float: left;

            border-right: 1px solid $progressBarBorder;

            menuitem{
                margin-top: 10px;
                display: block;
            }
        }

        padding: 7px;
        box-sizing: border-box;

        li, #home_menu{
            width:100%;

            i{
                margin-right: 5px;
                margin-left: 3px;
            }

            .icon-collapse{
                display:inline;
                float: right;
                padding: 2px;
            }

            span.disabled{
                opacity: 0.4;
            }

            &:hover{
                cursor: pointer;
                border-bottom: 1px solid #777777;
                border-top: 1px solid #555555;
                background-color:$deviceControlBGHover;
            }

            &.selected{
                background-color: black;
            }

        }

        ul{
            list-style-type: none;
        }
    }

    ul, ol{
        margin: 0px;
    }
}

#alert_box{
    $alert_box_size: 500px;
    position: absolute;
    width: $alert_box_size;
    left: 50%;
    margin-left: -$alert_box_size/2;
    text-align: center;
    background-color: $alertBoxBG;
    border-radius: 0px 0px 5px 5px;
    padding: 15px;
    z-index: 5;
    box-sizing: border-box;
}

body{
    height:100%;
    //background-color: $bodyBG;
    background-image: url($bodyBGUri);
    margin: 0px;
}

.btn{
    //background-color: $controlButtonBG;
     box-shadow:
    //     0 0px 1px #fff; /*bottom external highlight*/
         0 -1px 1px #666, top external shadow
         inset 0 -1px -2px rgba(0,0,0,0.5), /*bottom internal shadow*/
         inset 0 1px 1px rgba(255,255,255,0.8);

    &:hover{
        cursor: pointer;
    }
}

.container{
    height: 100%;

    @media screen and (min-width:992px){
        width: 960px;
    }


    margin: auto;
}

// Main Area of Application that changes
#content_area{
    height: 80%;
    min-height: 600px;

    .content_view{
        clear: both;

        height: 100%;

        color: $deviceControlFont;
    }

    #content_views{
        min-height: 600px;
        box-shadow: 3px 8px 10px;
        border: 2px solid $deviceControlBorder;
        border-top: none;
        border-bottom: 1px solid $deviceControlBorder;
        background-color: $deviceControlBG;
        //padding-bottom: 50px;
    }
}

// Top of page controls
#device_quick_controls{

    border-left: 2px solid $deviceControlBorder;
    border-right: 2px solid $deviceControlBorder;
    border-bottom: 1px solid $progressBarBorder;

    box-shadow: 3px 10px 10px;

    font-weight: bold;
    text-align:center;

    background-color: $deviceControlBG;

    .detail{
        font-size: 10pt;
        overflow: hidden;
        white-space: nowrap;
    }

    #device_info{
        font-weight: bold;
    }

    #controls_container{
        padding: 10px 18px 5px 18px;
        margin: auto;
        margin-bottom: 5px;

        font-weight: normal;
        color: $deviceControlFont;

        .btn{
            padding: 15px;
            margin: 0px 10px;

            border-radius: 17px;
            line-height:16px;
        }

        #volume_control{
            position: absolute;
            display: inline-block;
            width: 100px;;
            height: 20px;

            margin: 15px;

            text-align: left;
        }
    }

    #song_progress_bar{
        min-height: 20px;

        #progress_bar{
            background-color: $progressBarBG;
            height: 1px;
            border: 1px solid $progressBarBorder;
        }

        span{
            font-size: small;
            padding-top: 5px;

            &#current_progress{
                float: left;
            }

            &#song_length{
                float: right;
            }
        }
    }
}

/*
#queue_controller{

    .song_info{
        text-align: left;
        padding: 10px 5px;
        border-bottom: 1px solid $songInfoSeparator;

        .icon-remove{
            float: right;

            &:hover{
                color: grey;
                cursor: pointer;
            }
        }

        .song_img{
            width:30px;
            height:30px;
            float:left;
            margin: 5px;
        }

        .song_title{
            margin-top:5px;
        }

        .song_details{
            margin-top:0px;
            font-size: 10px;
        }
    }
}
*/

.hidden{
    display:none;
}

html{
    height: 100%;
}

#login_error{
    color: red;
    font-style: oblique;
    margin-bottom: 5px;
}

menu{
    margin: 0px;
    padding-left: 0px;
}

// Everything but the top-ribbon
#page_content{
    min-height: 100%;
    margin-bottom:80px;
    opacity: .95;
    .container{
        //background-color: #BBBBBB;
    }
}

// Footer containing copyright
#footer{
    background-color: $pageFooterHeaderBG;
    color: $pageFooterHeaderFont;
    font-size: small;
    //margin-bottom:-50px;
}

// Header with Logo and Quick Menu
#page_header{
    height: 40px;
    background-color: $pageFooterHeaderBG;
    color: $pageFooterHeaderFont;
    vertical-align: middle;
    box-shadow: 1px 3px 5px black;

    .container{
        box-shadow: 0px 5px 3px 0px #000000;
    }

    h1{
        margin-top: 0px;
        display:inline;
        padding-left: 20px;
        padding-top: 5px;

        @media screen and (min-width:992px){
            font-size: 2em;
        }

        a{
            color: $pageFooterHeaderFont;
            text-decoration: none;

            &:hover{
                color: $pageFooterHeaderHoverFont;
            }
        }
    }

    menu{
        display: inline;
        float: right;
        padding-top:10px
    }

    menuitem{
        padding: 0px 30px;
        cursor: pointer;

        &:hover{
            color: $pageFooterHeaderHoverFont;
        }
    }
}

// For displaying the song Queue (only on home page for now)
#queue_controller{
    height: 80%;
    max-width: 600px;

    margin: auto;
    padding-top: 20px;

    color: $songControlFont;

    #queue_list{
        min-height: 200px;
        min-height: 80%;
        border-radius: 0px 0px 15px 15px;
        border: 1px solid black;
        background-color: $queueListBG;
        box-shadow: inset 1px 1px 2px 2px $queueListShadow;
        vertical-align: middle;
        text-align: center;

        #no_song_alert{
            font-style: italic;
            font-size: 80%;
            text-align: center;
            vertical-align: mid7dle;
            height: 100%;
        }
    }

    #song_search_field{
        width: 100%;
        margin: 0px;
        padding: 0px 7px;
        border: 0px;
        border-bottom: 1px solid black;
        height: 30px;
        box-sizing: border-box;
        background-color: $queueListBG;
    }
}

.song_info{
    border-bottom: 1px solid $deviceControlBorder;

    &:hover{
        cursor:pointer;
        background-color:$deviceControlBGHover;
    }
}

#song_queue{
    #add_song{
            //float: right;
            position: relative;

            .btn{
                padding: 0px 6px;
                border-radius: 10px;
                margin-left: 20px;
                font-weight: bolder;
            }

            &:hover{
                color: $deviceControlHoverFont;
                cursor: pointer;
            }
        }

        .song_search{
            position: absolute;
            width: 250px;

            padding: 4px;
            border-radius: 5px;

            overflow: hidden;

            font-size: 8pt;

            background-color: #fff;

            cursor: default;
            z-index: 100;

            .dropdown-menu{
                position: initial;
                min-width: 100%;

                border-radius: 0px;

                box-shadow: none;
                background-color: default;

                border: none;

                cursor: pointer;
            }

            input{
                padding: 2px 4px;
            }

            li{
                padding-right: 10px;
            }
        }

    header{
        margin: 10px 0px;

        h4{
            display: inline;
        }
    }
}


