$alertBoxBG: white;

$bodyBG: grey;
$bodyBGUri: "http://www.twitterevolutions.com/bgs/space-dust-twitter-background.jpg";

$controlButtonBG: #DDDDDD;

$deviceControlBG: #444444;
$deviceControlBorder: #666666;
$deviceControlText: #999999;

$pageFooterHeaderBG: #222222;
$pageFooterHeaderFont: white;
$pageFooterHeaderHoverFont: grey;

$songInfoSeparator: #999999;

$queueListBG: #EEEEEE;
$queueListShadow: #888888;

$progressBarBG: #DDDDDD;
$progressBarBorder: #AAAAAA;

$songControlBG: #CCCCCC;
$songControlFont: black;

$tabSelectorBorder: $deviceControlBorder;
$tabSelectorUnselected: #777777;

$tabSelectorSelected: $deviceControlBG;

$tabViewBG: $deviceControlBG;
$tabViewBorder: $deviceControlBorder;
$tabViewText: $deviceControlText;

#alert_box{
    $alert_box_size: 300px;
    position: absolute;
    width: $alert_box_size;
    left: 50%;
    margin-left: -$alert_box_size/2;
    text-align: center;
    background-color: $alertBoxBG;
    border-radius: 0px 0px 5px 5px;
    padding: 20px;
    z-index: 5;
    box-sizing: border-box;
}

body{
    height:100%;
    //background-color: $bodyBG;
    background-image: url($bodyBGUri);
    margin: 0px;
}

.btn{
    background-color: $controlButtonBG;
    box-shadow:
        0 1px 2px #fff, /*bottom external highlight*/
        0 -1px 1px #666, /*top external shadow*/
        inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
        inset 0 1px 1px rgba(255,255,255,0.8);

    &:hover{
        cursor: pointer;
    }
}

.container{
    height: 100%;
    width: 960px;
    margin: auto;
}

#device_controls{
    height: 15%;
    min-height: 100px;
    background-color: $deviceControlBG;
    box-shadow: 3px 10px 10px;
    border-left: 2px solid $deviceControlBorder;
    border-right: 2px solid $deviceControlBorder;
    color: $deviceControlText;
    font-weight: bold;

    #controls_container{
        margin: auto;
        text-align:center;
        width: 600px;
        position: relative;
    }

    form{
        display: inline;
        position: absolute;
        margin-top: 5px;
        top: 0px;
        right: 0px;
        font-size:small;

        *{
            float: right;
            text-align: right;
        }

        #device_selecter{
            clear: both;
        }
    }
}

#device_controller{

    .song_info{
        text-align: left;
        padding:5px;
        border-bottom: 1px solid $songInfoSeparator;

        .icon-remove{
            float: right;

            &:hover{
                color: grey;
                cursor: pointer;
            }
        }

        .song_img{
            width:30px;
            height:30px;
            float:left;
            margin: 5px;
        }

        .song_title{
            margin-top:5px;
        }

        .song_details{
            margin-top:0px;
            font-size: 10px;
        }
    }
}

.hidden{
    display:none;
}

html{
    height: 100%;
}

menu{
    margin: 0px;
}

#page_content{
    height: 100%;
    margin-bottom:80px;
    opacity: .95;
    .container{
        //background-color: #BBBBBB;
    }
}

#page_footer{
    background-color: $pageFooterHeaderBG;
    color: $pageFooterHeaderFont;
    font-size: small;
    margin-bottom:-50px;
}

#page_header{
    height: 40px;
    background-color: $pageFooterHeaderBG;
    color: $pageFooterHeaderFont;
    vertical-align: middle;
    box-shadow: 1px 3px 5px black;

    .container{
        box-shadow: 0px 5px 3px 0px #000000;
    }

    h1{
        margin-top: 0px;
        display:inline;
        padding-left: 20px;
        padding-top: 5px;

        a{
            color: $pageFooterHeaderFont;
            text-decoration: none;

            &:hover{
                color: $pageFooterHeaderHoverFont;
            }
        }
    }

    menu{
        display: inline;
        float: right;
        padding-top:10px
    }

    menuitem{
        padding: 0px 30px;
        cursor: pointer;

        &:hover{
            color: $pageFooterHeaderHoverFont;
        }
    }
}

#queue_controls{
    float: left;
    position: relative;

    .btn{
        position: absolute;
        padding: 7px 10px;
        margin: 15px;
        border-radius: 10px;
        clear: both;
    }
}

#queue_controller{
    color: $songControlFont;
    max-width: 600px;
    margin: auto;
    height: 80%;

    #queue_list{
        min-height: 200px;
        min-height: 80%;
        border-radius: 0px 0px 15px 15px;
        border: 1px solid black;
        background-color: $queueListBG;
        box-shadow: inset 1px 1px 2px 2px $queueListShadow;
        vertical-align: middle;
        text-align: center;

        #no_song_alert{
            font-style: italic;
            font-size: 80%;
            text-align: center;
            vertical-align: mid7dle;
            height: 100%;
        }
    }

    #song_search_field{
        width: 100%;
        margin: 0px;
        padding: 0px 7px;
        border: 0px;
        border-bottom: 1px solid black;
        height: 30px;
        box-sizing: border-box;
        background-color: $queueListBG;
    }
}

#song_progress_bar{
    min-height: 20px;

    #progress_bar{
        background-color: $progressBarBG;
        height: 1px;
        border: 1px solid $progressBarBorder;
    }

    span{
        font-size: small;
        padding-top: 5px;

        &#current_progress{
            float: left;
        }

        &#song_length{
            float: right;
        }
    }
}

#song_controls{
    background-color: $songControlBG;
    color: $songControlFont;
    font-weight: normal;

    padding: 0px 18px 18px 18px;
    width: 250px;
    margin: auto;
    border: 1px solid black;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 5px;

    .btn{
        padding: 13px;
        border-radius: 20px;
        box-sizing: border-box;
        margin: 10px;
    }

    #current_song_detail{
        font-size: 10pt;
        padding: 5px;
        overflow: hidden;
        white-space: nowrap;
    }
}

#tab_area{
    height: 80%;

    #tab_controller{
        padding: 0px;
        position: relative;

        .tab_selector{
            border-width: 1px 2px 1px 1px;
            border-color: $tabSelectorBorder;
            border-style: solid;
            border-radius: 0px 0px 10px 10px;
            padding: 10px;
            box-sizing: border-box;
            position: relative;
            float: right;
            margin: 0px 0px 3px 5px;
            box-shadow: 3px 9px 13px;
            background-color: $tabSelectorUnselected;
            opacity: .90;

            &.selected{
                border-top: 1px solid $tabSelectorSelected;
                background-color: $tabSelectorSelected;
                opacity: 1;
                position:relative;
                top: -1px;
            }

            &:hover{
                cursor: pointer;
            }
        }
    }

    .tab_view{
        height: 100%;
        clear: both;
        color: $tabViewText;
    }

    #tab_views{
        height: 90%;
        box-shadow: 3px 8px 10px;
        border: 2px solid $tabViewBorder;
        border-top: none;
        border-bottom: 1px solid $tabViewBorder;
        background-color: $tabViewBG;
        //padding-bottom: 50px;
    }
}

