<section id="admin_controller" class="content_view">

    <menu>
        <menuitem>
            <div id='home_menu' data-ng-click="selectSubview('home')" data-ng-class="{'selected': subview == 'home'}"><i class='icon-home'/>Home</div>
        </menuitem>

        <menuitem id='device_list'>
            <header><strong>Devices:</strong></header>
            <ul>
                <li data-ng-repeat="box in user.devices | reverse" data-ng-class="{'selected': box == boxSession.getCurrentDevice() && subview == 'device'}" data-ng-click="selectBox(box);selectSubview('device')">

                    <span data-ng-class="{ 'disabled': box.state == 0}">
                        <i class='icon-tablet'/>
                        {{box.DeviceName}}
                    </span>

                    <span class='device_dropdown dropdown' ng-controller='deviceDropdownController' ng-click='$event.stopPropagation();'>
                        <i class='icon-collapse dropdown-toggle'></i>
                        <ul class='dropdown-menu'>
                            <li ng-repeat='view in views' ng-click='selectBox(box);selectSubview(view.viewName);'>{{view.name}}</li>
                        </ul>
                    </span>
                </li>
            </ul>
        </menuitem>

        <!--menuitem id='playlist_list'>
            <header><strong>Playlists:</strong></header>
            <ul>
                <li data-ng-class="{'selected': subview == 'playlist'}" data-ng-click="selectSubview('playlist')"><i class='icon-music'/> Playlist</li>
            </ul>
        </menuitem-->
    </menu>

    <section id='main_view' ng-switch='subview'>
        <div ng-switch-when='home' id="home_admin_page">
            <h4>Select a device:</h4>
            <ul>
                <li data-ng-repeat="box in user.devices | reverse" data-ng-class="{'hidden': box.state == 0}" data-ng-click="selectBox(box);selectSubview('device')">

                    <span data-ng-class="{ 'hidden': box.state == 0}">
                        {{box.DeviceName}}
                    </span>
                </li>
            </ul>
			<div ng-hide="user.devices.length > 0">
				You have no devices online right now
			</div>
        </div>

        <div ng-switch-when='device' ng-controller='queueController'>
            <span id="settings_menu" ng-click="selectSubview('settings')">
                <i class="icon-gear icon-large"></i>
            </span>
			
            <section id='song_queue'>
                <header>
                    <h4>
                        Song Queue
                    </h4>
                    <span id="add_song" ng-mouseover="clearHideSongSearch()" ng-mouseleave="delayHideSongSearch()">
                        <span class='btn btn-small' ng-click="showAddSong();" >
                            Add Song
                        </span>

                        <span ng-hide="addSongHidden" ng-include="'template/songsearch.html'">
                        </span>
                    </span>
                </header>

                <section id="queue_list" 
					ng-include="'template/songqueue.html'">
                    
                </section>
            </section>
			
            <section id='song_history' >

                <h4>
                    Song History
                </h4>

                <!--hr style='margin-top:0px;'/-->

                <div class='no_songs_alert' ng-hide='boxSession.getCurrentDevice().history.length != 0'>
                    No Songs have been played on this device
                </div>

                <section id='history_list'>
                    <div id='{{getTrackID(track)}}' class="song_info"  data-ng-repeat="track in boxSession.getCurrentDevice().history.slice(boxSession.getCurrentDevice.history.length - 10, boxSession.getCurrentDevice.history.length) | reverse" ng-click='toggleTrackExtras(getTrackID(track))'>
                        <header class="song_title" style="">{{track.Title}} - {{track.ArtistName}}</header>

                        <section class='hidden song_extras clearfix'>
                            <img class="song_img" src="{{track.ArtworkURL}}" style="float:left; margin: 10px;"/>
                            <p class="song_details" style="">
                                Song Details
                            </p>
                        </section>
                    </div>
                </section>
            </section>
        </div>

        <div ng-switch-when='settings' ng-controller='settingsController' id="settings_container">
            <h4>Device Settings</h4>
            <!--hr style='margin-top:0px;'/-->

            <form ng-submit='saveDeviceSettings()'>
                <label for='device_name'>
                    Name:
                    <input disabled type='text' id='device_name' ng-model='boxSession.getCurrentDevice().DeviceName'/>
                </label>
                <label for='theme_select'>
                    Theme:
                    <select id='theme_select' ng-model='themeId' ng-options='theme.ThemeID as theme.Name for theme in themeList'>
                    </select>
                </label>
                <input class='btn' type='submit' value='Save'></input>
                <button class='btn' ng-click="cancelSettingsChange();">Cancel</button>
            </form>
        </div>
    </section>
</section>