<section id="admin_controller" class="content_view">

    <aside id='device_list'>
        <header><strong>Device List</strong></header>
        <ul>
            <li data-ng-repeat="box in user.musicBoxes | reverse" data-ng-class="{'selected': box == boxSession.currentDevice}" data-ng-click="selectBox(box);selectSubview('playlist')">

                {{box.DeviceName}}

                <span class='device_dropdown dropdown' ng-controller='deviceDropdownController' ng-click='$event.stopPropagation();'>
                    <i class='icon-collapse dropdown-toggle'></i>
                    <ul class='dropdown-menu' >
                        <li ng-repeat='view in views' ng-click='selectBox(box);selectSubview(view.viewName);'>{{view.name}}</li>
                    </ul>
                </span>
            </li>
        </ul>
    </aside>

    <section id='device_view' ng-switch='subview'>
        <div ng-switch-when='playlist'>
            <h4 sstyle='margin-bottom:10px'>Song History</h4>
            <!--hr style='margin-top:0px;'/-->

            <div class='no_songs_alert' ng-hide='trackQueue.history.length != 0'>
                No Songs have been played on this device
            </div>

            <div id='{{getTrackID(track)}}' class="song_info" style="" data-ng-repeat="track in trackQueue.history | reverse" ng-click='toggleTrackExtras(getTrackID(track))'>
                <header class="song_title" style="">{{track.Title}} - {{track.ArtistName}}</header>

                <section class='hidden song_extras clearfix'>
                    <img class="song_img" src="{{track.ArtworkURL}}" style="float:left; margin: 10px;"/>
                    <p class="song_details" style="">
                        Song Details
                    </p>
                </section>
            </div>
        </div>

        <div ng-switch-when='settings' ng-controller='settingsController'>
            <h4 style='margin-bottom:10px'>Device Settings</h4>
            <!--hr style='margin-top:0px;'/-->

            <form ng-submit='saveDeviceSettings()'>
                <label for='device_name'>
                    Name:
                    <input disabled type='text' id='device_name' ng-model='boxSession.currentDevice.DeviceName'/>
                </label>
                <label for='theme_select'>
                    Theme:
                    <select id='theme_select' ng-model='boxSession.currentDevice.Theme' ng-options='theme.ThemeID as theme.Name for theme in themeList'>
                    </select>
                </label>
                <input style='float: right;' class='btn' type='submit' value='Save'/>
            </form>
        </div>
    </section>
</section>