<section id="front_page" class="content_view">
	 <nav id="left_nav" class="top_nav">
		<i class="icon-arrow-left icon-large" ng-hide="!isMobile || boxSession.getCurrentDevice() == undefined" ng-click="boxSession.setCurrentDevice(undefined)"/>
	</nav>
	
	<div>
		<div class="alert">	
			<p>You can <a href='#/login'>log in</a> to control a private device, or <a>sign up</a> to register your new device</p>
			</div>
	</div>
	
	<menu id="breadcrumbs">
		<menuitem id="device_list" ng-click="viewDeviceList()">
			Devices
		</menuitem>
		<menuitem id="current_device" 
			ng-hide="boxSession.getCurrentDevice() == undefined">
			{{boxSession.getCurrentDevice().DeviceName}}
		</menuitem>
	</menu>
	
	<div ng-include="'template/onlinedevices.html'" ng-hide="boxSession.getCurrentDevice() != undefined"/>

	<div ng-include="'template/currentdevice.html'" data-ng-hide="boxSession.getCurrentDevice() == undefined || boxSession.getCurrentDevice().isOffline()" >
		
	</div>
</section>