<section id="login_controller" class="content_view">
	 <nav id="left_nav" class="top_nav mobile_only">
	    <i class="icon-arrow-left icon-large"
	         ng-click="$location.path('#/home');"></i>
	</nav>
	
	<div style='width:300px;margin:auto;text-align:center;padding-top:100px;'>
        <h5>Log In to View Your Devices</h5>
        <form ng-submit="submitLogin()">
            <div id='login_error' data-ng-hide='errorMessage === undefined'>{{errorMessage}}</div>
            <label for='username'>
                <span class='label_text' style='width:80px;text-align:right;display:inline-block;'>Username:</span>
                <input type='text' name='username' id='username' style='width:200px;display:inline-block;' data-ng-model="username" ng-click="user.tryLogin()"/>
            </label>
            <label for='password'>
                <span class='label_text' style='width:80px;text-align:right;display:inline-block;'>Password:</span>
                <input type='password' name='password' id='password' style='width:200px;' data-ng-model="password"/>
            </label>
            <input style='float:right;' class='btn' type='submit' value='Log In'/>
        </form>
    </div>
</section>