<menu id="mobile_menu" ng-class="{'visible': !menuHidden, 'hidden': menuHidden}">
    <span id="menu_closer" ng-click="toggleMenu()">
        <i class="icon-remove"></i>
    </span>
    <header id="current_info">
        <span><em>Current Device:</em> {{boxSession.getCurrentDevice().DeviceName}}</span>
    </header>

    <menuitem ng-click="home()">Home</menuitem>

    <div ng-hide="user.devices[0] === undefined">My Devices</div>
    
	<menuitem ng-repeat="device in user.devices" ng-click="selectDevice(device)" ng-class="{'disabled': device.state === 0}">{{device.DeviceName}}</menuitem>

    <menuitem ng-hide="user.permissions !== undefined" ng-click="login()">Login</menuitem>
	
    <menuitem ng-hide="user.permissions === undefined" ng-click="logout()">Logout</menuitem>
</menu>

 <nav id="left_nav" class="top_nav">
    <i id="mobile_menu_trigger" class="icon-list icon-large"
         ng-click="toggleMenu()" ng-hide="subview === 'stations'"></i>
	<i class="icon-arrow-left icon-large" ng-hide="subview !== 'stations'" ng-click="selectDevice(boxSession.getCurrentDevice())"/>
</nav>

<nav id="right_nav" class="top_nav"
    ng-hide="boxSession.getCurrentDevice() === undefined || boxSession.getCurrentDevice().state !== 2 ||
            subview !== 'current'"
    ng-click="viewStationList()">
    <span>Station List</span>
    <i class="icon-chevron-right icon-large"></i>
</nav>


<section id="mobile_controller" class="content_view">
	<section id="mobile_view" ng-switch="subview">   
	    <section id="station_list" ng-switch-when="stations">
            <div ng-include="'template/stationlist.html'"/>
        </section>
        
		<section ng-switch-when="home">
			<div ng-include="'template/onlinedevices.html'"/>
        </section>
		
		<section id='mobile_device_view' ng-switch-when="current">			
			<div ng-include="'template/currentdevice.html'"></div>
        </section>
    </section>
	
</section>